{% extends "extends/header_and_sidebar.html.twig" %}

{% block title 'Bienvenue !' %}

{% block body %}
	<div
		class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
		<!-- Breadcrumb Start -->
		<div x-data="{ pageName: `Bienvenue sur Vacairo !`}">
			{% include "partials/breadcrumb.html.twig" %}
		</div>
		<!-- Breadcrumb End -->

		<div class="min-h-screen rounded-2xl border border-gray-200 bg-white px-5 py-7 dark:border-gray-800 dark:bg-white/[0.03] xl:px-10 xl:py-12">
			<div class="mx-auto w-full max-w-[630px] text-center">
				<div class="flex justify-center">
					<nav aria-label="Progress">
						<ol role="list" class="flex items-center">
							<li
								class="relative pr-8 sm:pr-20">
								<!-- Completed Step -->
								<div aria-hidden="true" class="absolute inset-0 flex items-center">
									<div class="h-0.5 w-full bg-indigo-600 dark:bg-indigo-500"></div>
								</div>
								<a href="#" class="relative flex size-8 items-center justify-center rounded-full bg-indigo-600 hover:bg-indigo-900 dark:bg-indigo-500 dark:hover:bg-indigo-400">
									<svg viewbox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-white">
										<path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd"/>
									</svg>
									<span class="sr-only">Step 1</span>
								</a>
							</li>
							<li
								class="relative pr-8 sm:pr-20">
								<!-- Completed Step -->
								<div aria-hidden="true" class="absolute inset-0 flex items-center">
									<div class="h-0.5 w-full bg-indigo-600 dark:bg-indigo-500"></div>
								</div>
								<a href="#" class="relative flex size-8 items-center justify-center rounded-full bg-indigo-600 hover:bg-indigo-900 dark:bg-indigo-500 dark:hover:bg-indigo-400">
									<svg viewbox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-white">
										<path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd"/>
									</svg>
									<span class="sr-only">Step 2</span>
								</a>
							</li>
							<li
								class="relative pr-8 sm:pr-20">
								<!-- Current Step -->
								<div aria-hidden="true" class="absolute inset-0 flex items-center">
									<div class="h-0.5 w-full bg-gray-200 dark:bg-white/15"></div>
								</div>
								<a href="#" aria-current="step" class="relative flex size-8 items-center justify-center rounded-full border-2 border-indigo-600 bg-white dark:border-indigo-500 dark:bg-gray-900">
									<span aria-hidden="true" class="size-2.5 rounded-full bg-indigo-600 dark:bg-indigo-500"></span>
									<span class="sr-only">Step 3</span>
								</a>
							</li>
							<li
								class="relative pr-8 sm:pr-20">
								<!-- Upcoming Step -->
								<div aria-hidden="true" class="absolute inset-0 flex items-center">
									<div class="h-0.5 w-full bg-gray-200 dark:bg-white/15"></div>
								</div>
								<a href="#" class="group relative flex size-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white hover:border-gray-400 dark:border-white/15 dark:bg-gray-900 dark:hover:border-white/25">
									<span aria-hidden="true" class="size-2.5 rounded-full bg-transparent group-hover:bg-gray-300 dark:group-hover:bg-white/15"></span>
									<span class="sr-only">Step 4</span>
								</a>
							</li>
							<li
								class="relative">
								<!-- Upcoming Step -->
								<div aria-hidden="true" class="absolute inset-0 flex items-center">
									<div class="h-0.5 w-full bg-gray-200 dark:bg-white/15"></div>
								</div>
								<a href="#" class="group relative flex size-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white hover:border-gray-400 dark:border-white/15 dark:bg-gray-900 dark:hover:border-white/25">
									<span aria-hidden="true" class="size-2.5 rounded-full bg-transparent group-hover:bg-gray-300 dark:group-hover:bg-white/15"></span>
									<span class="sr-only">Step 5</span>
								</a>
							</li>
						</ol>
					</nav>
				</div>

				<h3 class="mb-4 mt-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl">
					Bienvenue sur Vacairo !
				</h3>

				<p class="text-sm text-gray-500 dark:text-gray-400 sm:text-base">
					Nous sommes ravis de vous accueillir sur Vacairo, votre nouvelle plateforme de gestion de projets. Pour vous aider à démarrer, nous avons préparé un guide d'onboarding qui vous accompagnera à travers les étapes essentielles pour configurer votre compte et commencer à collaborer efficacement avec votre équipe. Suivez les instructions ci-dessous pour tirer le meilleur parti de Vacairo et découvrir toutes les fonctionnalités que nous avons à offrir.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
